@page "/"

<header @ref="Navbar" class="navbar p-2 px-bigger">
    <section class="navbar-section">
        <a href="./" class="navbar-brand mr-2" @onclick="OnBrandClickAsync" 
            @onclick:preventDefault>C# to TypeScript</a>
        @foreach (var (name, url) in Constants.Sites)
        {
            <a href="@url" target="_blank" rel="noopener" class="btn btn-link hide-md">@name</a>
        }
    </section>
    <section class="navbar-section">
        <button type="button" class="btn btn-link" title="Copy to Clipboard" @onclick="OnCopyClickAsync">
            <i class="icon icon-copy"></i> Copy
        </button>
        <button id="openSettingsButton" type="button" title="Open Settings" class="btn btn-link"
            @onclick="OnOpenSettingsClick">
            <i class="icon icon-apps"></i> Settings
        </button>
        <button type="button" class="btn btn-link ml-2" title="Change Theme" @onclick="OnChangeThemeClick"
            disabled="@IsSettingRandomThemeInProgress">
            <i class="icon icon-photo"></i> @ThemeDisplayName
        </button>
        <button type="button" class="btn btn-link" title="Set Random Theme" @onclick="OnSetRandomThemeClick"
            disabled="@IsSettingRandomThemeInProgress">
            <i class="icon icon-emoji"></i>
        </button>
    </section>
</header>

<div class="columns col-gapless height-editors">
    <div @ref="InputEditorContainer" class="column full-height hide-overflow"></div>
    <div @ref="OutputEditorContainer" class="column full-height hide-overflow"></div>
</div>

<Modal Title="Settings" IsActive="AreSettingsOpen" OnCloseRequested="OnSettingsCloseRequested">
    <EditForm Model="SettingsModalModel" OnValidSubmit="OnSaveSettingsAsync">
        <DataAnnotationsValidator />

        <div class="columns">
            <div class="column">
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.TabSizeDescription">
                    <label class="form-label" for="@nameof(SettingsModalModel.TabSize)">Tab Size</label>
                    <InputNumber class="form-input" id="@nameof(SettingsModalModel.TabSize)"
                        @bind-Value="SettingsModalModel.TabSize" min="2" max="8"
                        disabled="@SettingsModalModel.UseTabs" />
                    <ValidationMessage For="@(() => SettingsModalModel.TabSize)" />
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.ConvertDatesToDescription">
                    <label class="form-label" for="@nameof(SettingsModalModel.ConvertDatesTo)">Convert Dates To</label>
                    <InputSelect class="form-input" id="@nameof(SettingsModalModel.ConvertDatesTo)"
                        @bind-Value="SettingsModalModel.ConvertDatesTo">
                        <option value="@DateOutputType.String">@nameof(DateOutputType.String)</option>
                        <option value="@DateOutputType.Date">@nameof(DateOutputType.Date)</option>
                        <option value="@DateOutputType.Union">@nameof(DateOutputType.Union)</option>
                    </InputSelect>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.ConvertNullablesToDescription">
                    <label class="form-label" for="@nameof(SettingsModalModel.ConvertNullablesTo)">Nullable Output
                        Type</label>
                    <InputSelect class="form-input" id="@nameof(SettingsModalModel.ConvertNullablesTo)"
                        @bind-Value="SettingsModalModel.ConvertNullablesTo">
                        <option value="@NullableOutputType.Null">@nameof(NullableOutputType.Null)</option>
                        <option value="@NullableOutputType.Undefined">@nameof(NullableOutputType.Undefined)</option>
                    </InputSelect>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.QuotationMarkDescription">
                    <label class="form-label" for="@nameof(SettingsModalModel.QuotationMark)">Quotation Mark</label>
                    <InputSelect class="form-input" id="@nameof(SettingsModalModel.QuotationMark)"
                        @bind-Value="SettingsModalModel.QuotationMark">
                        <option value="@QuotationMark.Double">"@nameof(QuotationMark.Double)"</option>
                        <option value="@QuotationMark.Single">'@nameof(QuotationMark.Single)'</option>
                    </InputSelect>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.OutputTypeDescription">
                    <label class="form-label" for="@nameof(SettingsModalModel.OutputType)">Output Type</label>
                    <InputSelect class="form-input" id="@nameof(SettingsModalModel.OutputType)"
                        @bind-Value="SettingsModalModel.OutputType">
                        <option value="@OutputType.Interface">@nameof(OutputType.Interface)</option>
                        <option value="@OutputType.Class">@nameof(OutputType.Class)</option>
                    </InputSelect>
                </div>
            </div>
            <div class="column pt-bigger">
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.UseTabsDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.UseTabs)">
                        <InputCheckbox id="@nameof(SettingsModalModel.UseTabs)"
                            @bind-Value="SettingsModalModel.UseTabs" />
                        <i class="form-icon"></i> Use Tabs
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.ExportDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.Export)">
                        <InputCheckbox id="@nameof(SettingsModalModel.Export)"
                            @bind-Value="SettingsModalModel.Export" />
                        <i class="form-icon"></i> Export
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.ToCamelCaseDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.ToCamelCase)">
                        <InputCheckbox id="@nameof(SettingsModalModel.ToCamelCase)"
                            @bind-Value="SettingsModalModel.ToCamelCase" />
                        <i class="form-icon"></i> To Camel Case
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.RemoveInterfacePrefixDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.RemoveInterfacePrefix)">
                        <InputCheckbox id="@nameof(SettingsModalModel.RemoveInterfacePrefix)"
                            @bind-Value="SettingsModalModel.RemoveInterfacePrefix" />
                        <i class="form-icon"></i> Remove Interface Prefix
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.GenerateImportsDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.GenerateImports)">
                        <InputCheckbox id="@nameof(SettingsModalModel.GenerateImports)"
                            @bind-Value="SettingsModalModel.GenerateImports" />
                        <i class="form-icon"></i> Generate Imports
                    </label>
                </div>
                <div class="form-group ml-bigger tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.UseKebabCaseDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.UseKebabCase)">
                        <InputCheckbox id="@nameof(SettingsModalModel.UseKebabCase)"
                            @bind-Value="SettingsModalModel.UseKebabCase"
                            disabled="@(!SettingsModalModel.GenerateImports)" />
                        <i class="form-icon"></i> Use Kebab Case
                    </label>
                </div>
                <div class="form-group ml-bigger tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.AppendModelSuffixDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.AppendModelSuffix)">
                        <InputCheckbox id="@nameof(SettingsModalModel.AppendModelSuffix)"
                            @bind-Value="SettingsModalModel.AppendModelSuffix"
                            disabled="@(!SettingsModalModel.GenerateImports)" />
                        <i class="form-icon"></i> Append Model Suffix
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.AppendNewLineDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.AppendNewLine)">
                        <InputCheckbox id="@nameof(SettingsModalModel.AppendNewLine)"
                            @bind-Value="SettingsModalModel.AppendNewLine" />
                        <i class="form-icon"></i> Append New Line
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.StringEnumsDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.StringEnums)">
                        <InputCheckbox id="@nameof(SettingsModalModel.StringEnums)"
                            @bind-Value="SettingsModalModel.StringEnums" />
                        <i class="form-icon"></i> String Enums
                    </label>
                </div>
                <div class="form-group tooltip tooltip-bottom" data-tooltip="@SettingsModalModel.EnumStringToCamelCaseDescription">
                    <label class="form-switch" for="@nameof(SettingsModalModel.EnumStringToCamelCase)">
                        <InputCheckbox id="@nameof(SettingsModalModel.EnumStringToCamelCase)"
                            @bind-Value="SettingsModalModel.EnumStringToCamelCase" />
                        <i class="form-icon"></i> Enum String To Camel Case
                    </label>
                </div>
            </div>
        </div>
        
        <div class="my-2 text-right">
            <button class="btn btn-error" type="button" @onclick="OnSettingsToDefaultClick">
                <i class="icon icon-refresh"></i> To Default
            </button>
            <button class="btn btn-success" type="submit">
                <i id="saveSettingsButton" class="icon icon-check"></i> Save
            </button>
        </div>
    </EditForm>
</Modal>